body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    padding-top: 25px;
    height:500px;
    border: 1px solid white;
    border-radius: 2%;
    background-color: rgb(224, 221, 221);
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

.btn-custom {
    background-color: rgb(21, 122, 255);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-bottom: 10rem !important;
}

.btn-custom:hover {
    background-color: rgb(12, 68, 141);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin-bottom: 10rem !important;
}
h3{
    margin-left: 20px;
}