.subir {
    margin-top: -2rem !important;
}

.subirindice {
    margin-top: -5rem !important;
}

.botonvisualizar {
    background-color: #008CBA;
    padding: 5px 10px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid transparent;
}

.botonvisualizar:hover {
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.botoneditar {
    background-color: rgb(0, 212, 89);
    padding: 5px 10px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid transparent;
}

.botoneditar:hover {
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 212, 89);
}

.botoneliminar {
    background-color: red;
    padding: 5px 10px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid transparent;
}

.botoneliminar:hover {
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid red
}

.negritadiv {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.grisdiv {
    color: gray;
    font-size: 20px;
    text-align: right;
}

.cartadatos {
    max-height: 15rem;
}

.crud {
    max-height: 35rem;
}

.datosinteres {
    max-height: 35rem;
}

.negrita {
    font-weight: bold;
    font-size: 20px;
    margin-right: 3rem !important;
    text-align: left;
}

.izq {
    text-align: left;
}